<h1>Welcome <%= @user.email%></h1>

<%= form_tag welcome_search_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1>Your Playlists</h1>
<% @user_playlists.each do |playlist|%>

<p><%=playlist.name%></p>

<% end %>
<%= link_to "New Playlist" %>
