<h1>Search Results</h1>

<h1>Songs</h1>
<% @resultsName.each do |song|%>

<p><%=song.name%></p>

<% end %>

<h1>Artist</h1>
<% @resultsArtist.each do |song|%>

<p><%=song.name%></p>

<% end %>

<h1>Album</h1>
<% @resultsAlbum.each do |song|%>

<p><%=song.name%></p>

<% end %>

<h1>Genre</h1>
<% @resultsGenre.each do |song|%>

<p><%=song.name%></p>

<% end %>

<h1>Year</h1>
<% @resultsYear.each do |song|%>

<p><%=song.name%></p>

<% end %>
